*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-ma-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-ma-latest.csv filter=lfs diff=lfs merge=lfs -text
